[Unit]
Description=PyHook
After=network.target

[Service]
User=dbot
Restart=always
RestartSec=5
Type=simple
ExecStart=/usr/bin/python3 /home/dbot/tools/pyhook/pyhook.py
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
